h1 {
  color: white;
  text-shadow: 2px 2px grey;
  text-align: center;
  font-style: oblique;
}
.a {
  color: red;
  text-align: center;
}

.b {
  color: #C214E1;
  text-align: center;
}

body {
  background-image: url("https://wallpaperbrowse.com/media/images/f2nbsPJ.jpg");


}
